body {
    background-color: palevioletred;
    text-align: center;
}

p {
    padding: 2px;
    margin: 20px;
}

ul, ol {
    list-style-position: inside;
    color: palegreen;
    text-align: right;
  }

h1,h2 {
    font-family: "Monaco", monospace;
    color: palegreen;
}

img {
    width:50%;
    height: 50%;
    border-style: dashed;
    border-width: 4px;
    border-color: blueviolet;
    margin: 100px;
}

/* grid layout definitions */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px;
}

.item {
    max-width: 300px;
    max-height: auto;
}